CF_URL=https://{CloudFlareUserHash}.r2.cloudflarestorage.com
CF_TOKEN_VALUE=dogs_JNDIUENndosnjuiJBNIFLEBIUjniu
CF_ACCESS_KEY_ID=sy73nd8dn3d82dnd8h3a
CF_SECRET_ACCESS_KEY=032ri9u0jinf8023hn2dfuhf90h32bu9383j2802